.poolstats {
   --bs-bg-opacity: 1;
   border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
   border-radius: var(--bs-border-radius);
   background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity));
   position: fixed;
   bottom: 0;
   left: 0;
   margin: 1rem;
   padding: 0.5rem;
   overflow-y: auto;
}

@media screen and (max-width: 1400px) {
   .poolstats {
      max-height: 30%;
   }
}

@media screen and (max-width: 768px) {
   .poolstats {
      display: none;
   }
}